{% extends 'base.html.twig' %}

{% block title %}Recobike | CREER UN KIT DE MARQUAGES{% endblock %}
{% block am_pagetitle %}CREER UN KIT DE MARQUAGES{% endblock %}
{% block am_pagebody %}
    <div class="row row-sm mg-t-20">
        <div class="col-xl-6">
            <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
                <p class="mg-b-20 mg-sm-b-30">La création des kits de marquages se fait par l'import d'un fichier excel.
                    <a href="{{ asset('/file/CreerKits.xlsx') }}" target="_blank">Cliquez ici</a> pour télécharger le template d'import.</p>
                {{ form_start(form) }}
                    <div class="col-lg-12">
                        <label class="custom-file">
                            {{ form_widget(form.creerkits) }}
                            <span class="custom-file-control"></span>
                        </label>
                        {{ form_errors(form.creerkits) }}
                    </div>
                    <div class="form-layout-footer mg-t-30">
                        <button class="btn btn-info mg-r-5">Créer la série</button>
                    </div>
                {{ form_end(form) }}
            </div><!-- col-6 -->
        </div><!-- row -->
{% endblock %}