{% extends 'base.html.twig' %}

{% block title %}Recobike | Administration{% endblock %}
{% block am_sideleft %}{% endblock %}
{% block am_header %}{% endblock %}
{% block body %}
    <div class="am-signin-wrapper">
        <div class="am-signin-box">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="icon ion-alert-circled alert-icon tx-24 mg-t-5 mg-xs-t-0"></i>
                                    <span>{{ message }}</span>
                                </div><!-- d-flex -->
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-lg-12">
                    <p align="center"><img src="{{ asset('/assets/img/logo.png') }}"><br>Gestion & Administration</p><br><br>
                    <h5 class="tx-gray-800 mg-b-25">Veuillez vous identifier</h5>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputEmail" class="form-control-label">Nom d'utilisateur :</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label for="inputPassword" class="form-control-label">Mot de passe:</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" require>
                        </div><!-- form-group -->
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-block">Ouvrir une session</button>
                    </form>
                    <a class="float-right" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                </div><!-- col-7 -->
            </div><!-- row -->
            <p class="tx-center tx-white-5 tx-12 mg-t-15">Copyright &copy; {{ "now"|date("Y") }}. Tous droits réservés RECOBIKE</p>
        </div><!-- signin-box -->
    </div><!-- am-signin-wrapper -->
{% endblock %}
